@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #EEF0F8;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 30px;
    margin: 50px 20px;
    border-radius: 8px;
    background: white;
}

.card-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

table {
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 10px;
}

.radius-10 {
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fw-600 {
    font-weight: 700;
}

.font-size-1 {
    font-size: 1.25rem;
}

.img-w300-h300 {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: 0.1s filter linear;
}

.card {
    background-color: #f0f1f3;
    display: block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 9px;
    cursor: pointer;
}

.accordion-body {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    display: none;
}

.mb-20 {
    margin-bottom: 20px;
}